*{
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}
audio, video{
    display: block;
    margin: 0 auto;
}

h1, h2{
  text-align: center;
}

.controls{
  width: 851px;
  margin: 0 auto;
}

input{
  display:block;
  margin: 0 auto;
  width: 20%;
  max-width: 600px;
}

.center{
  display: block;
  margin: 0 auto;
}

#audioguy, #speedup, #speeddown{
  display: inline-block !important;
}
#audio-controls{
  max-width:430px;
}


.btn2{
  background: #8a8a8a;
  background-image: -webkit-linear-gradient(top, #8a8a8a, #050505);
  background-image: -moz-linear-gradient(top, #8a8a8a, #050505);
  background-image: -ms-linear-gradient(top, #8a8a8a, #050505);
  background-image: -o-linear-gradient(top, #8a8a8a, #050505);
  background-image: linear-gradient(to bottom, #8a8a8a, #050505);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  padding: 3px 5px 3px 5px;
  text-decoration: none;
  width:35px;
  position:relative;
  bottom:10px;
}

.btn {
  background: #8a8a8a;
  background-image: -webkit-linear-gradient(top, #8a8a8a, #050505);
  background-image: -moz-linear-gradient(top, #8a8a8a, #050505);
  background-image: -ms-linear-gradient(top, #8a8a8a, #050505);
  background-image: -o-linear-gradient(top, #8a8a8a, #050505);
  background-image: linear-gradient(to bottom, #8a8a8a, #050505);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  min-width:86px;
  display:inline-block;
}

.btn:hover, .btn2:hover {
  background: #b3b3b3;
  background-image: -webkit-linear-gradient(top, #b3b3b3, #6e6e6e);
  background-image: -moz-linear-gradient(top, #b3b3b3, #6e6e6e);
  background-image: -ms-linear-gradient(top, #b3b3b3, #6e6e6e);
  background-image: -o-linear-gradient(top, #b3b3b3, #6e6e6e);
  background-image: linear-gradient(to bottom, #b3b3b3, #6e6e6e);
  text-decoration: none;
}